*{
    padding: 0px;
    margin: 0px;
    color: white;
}

#navbar{
    height: 60px;
    background-color: black;
}

button{
    background-color: rgb(181, 181, 94);
}

#logo{
    color: rgb(200, 200, 58);
    font-size: 25px;
    
}
/* #account{
    margin-left: 200px;
}
#myCart{
    margin-left: 200px;
}
#contact{
    margin-left: 200px;
    margin-right: 200px;
} */

a{
    margin-right: 190px;
    text-decoration: none;
}