

div{
    background-color: blue;
}
#div1{
    background-color: darkgreen;
    font-size: 25px;
    height: 100px;
    width: 100px;
    display: inline-block; 
    margin: 50px;
}
#div2{
     background-color: crimson;
     height: inherit;
     height: 0.5em;
     font-size: 2em;
     width: 50px;
     display: inline-block;
}
.input{
    height: 50px;
    width: 50px;
    display: inline-block;
    /* vertical-align: top; */
    background-color: rgb(216, 144, 20);
}